[Desktop Entry]
Encoding=UTF-8
Name=Link to images
Type=Link
URL=https://github.com/University-of-Utah-CS3505/a8-an-educational-app-f18-kathrynriding-1/tree/alex/images
Icon=text-html
